<h1>SIGN UP VIEW</h1>

<form action="/signup" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" >
    
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" >

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" >

    <label for="interests">Interests:</label>
    <select name="interests" id="interests" multiple>
        <option value="Economy">Economy</option>
        <option value="Video games">Video Games</option>
        <option value="Music">Music</option>
        <option value="Movies">Movies</option>
    </select>

    <button type="submit">Sign up</button>
</form>

{{#if message}}
    <p style="color: rgb(204, 27, 110)">{{message}}</p>
{{/if}}