<header>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark p--"
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/articleoverview">Newsfeed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/readlater">Read Later</a>
        </li>
          <a href="/logout" class="btn btn-danger btn-sm btn-success pull-right" data-toggle="button" aria-pressed="false" autocomplete="off">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</header>

<h1>Edit your profile</h1>

<form action="/profile/edit" method="POST" enctype="multipart/form-data">

    <label for="name">Change your Name:</label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    
    <label for="profile-pic">Change your Profile Picture: </label>
	<input type="file" name="profile-pic" id="profile-pic">

    <label for="interests">Interests:</label>
    <select name="interests" id="interests" multiple>
        <option value="Economy">Economy</option>
        <option value="Video games">Video Games</option>
        <option value="Music">Music</option>
        <option value="Movies">Movies</option>
    </select>

    <button type="submit">Accept changes</button>
</form>


{{#if message}}
    <p style="color: rgb(204, 27, 110)">{{message}}</p>
{{/if}}
