<h1>PROFILE VIEW</h1>
{{#with user}}

<h2>Welcome, {{name}}!</h2>

<h3>Personal information</h3>
<ul>
    <li>Name: {{name}}</li>
    <li>Interests:
        {{#each interests}}
          <ul>
              <li>{{this}}</li>
          </ul>
        {{/each}}
    </li>
</ul>

{{/with}}


